@font-face {
  font-family: "TickingTimebombBB";
  src: url("../fonts/TickingTimebombBB.ttf");
}

body {
  background-color: #101010;
  background-image: url("../images/corrugated-metal-background-1.jpg");
  background-size: 1700px;
  color: rgb(102, 255, 47);
  margin: 0px;
}

.door {
  cursor: pointer;
  padding: 10px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: rgb(26, 26, 26);
}

#title-row {
  margin-top: 18px;
  margin-bottom: 0px;
  text-align: center;
}

#instructions-table {
  margin: 0 auto;
  padding: 5px 0px;
  width: 400px;
}

#instructions-title {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
}

.instructions-number {
  padding-right: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
}

.instructions-text {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#tv1 {
  position: absolute;
  left: 100px;
  width: 200px;
  z-index: 2;
}

#streak-message {
  font-family: "TickingTimebombBB";
  font-size: 20pt;
  padding: 10px;
  margin: 40px;
  width: 70px;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 130px;
  z-index: 1;
  -ms-transform: rotate(8deg); /* IE 9 */
  transform: rotate(8deg);
}

#streak-count {
  font-family: "TickingTimebombBB";
  font-size: 20pt;
  padding: 10px;
  margin: 40px;
  width: 70px;
  position: absolute;
  text-align: center;
  top: 157px;
  left: 130px;
  z-index: 1;
  -ms-transform: rotate(8deg); /* IE 9 */
  transform: rotate(10deg);
}

#tv-1-background {
  background-color: rgb(0, 6, 2);
  position: absolute;
  top: 120px;
  left: 140px;
  height: 130px;
  width: 140px;
  z-index: 0;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
}

#tv2 {
  position: absolute;
  right: 100px;
  width: 200px;
  z-index: 2;
}

#status-message {
  font-family: "TickingTimebombBB";
  font-size: 20pt;
  padding: 10px;
  margin: 40px;
  width: 70px;
  position: absolute;
  text-align: center;
  top: 110px;
  right: 130px;
  z-index: 1;
  -ms-transform: rotate(351deg); /* IE 9 */
  transform: rotate(351deg);
}

#tv-2-background {
  background-color: rgb(0, 6, 2);
  position: absolute;
  top: 120px;
  right: 140px;
  height: 130px;
  width: 140px;
  z-index: 0;
  -ms-transform: rotate(351deg); /* IE 9 */
  transform: rotate(351deg);
}

#door-row {
  text-align: center;
}

.playButton-row {
  margin: auto;
  width: 120px;
  height: 38px;
  line-height: 38px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(0, 0, 0);
  color: greenyellow;
  border-radius: 5px;
  border-color: #000000;
  border-style: groove;
  border-width: 2px;
  font-size: 16px;
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
}
