body {
  background-color: #101010;
  background-image: url("../images/corrugated-metal-background-1.jpg");
  background-size: 1700px;
  color: greenyellow;
  margin: 0px;
}

.door {
  cursor: pointer;
  padding: 10px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: rgb(26, 26, 26);
}

#title-row {
  margin-top: 18px;
  margin-bottom: 0px;
  text-align: center;
}

#instructions-table {
  margin: 0 auto;
  padding: 5px 0px;
  width: 400px;
}

#instructions-title {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
}

.instructions-number {
  padding-right: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  color: greenyellow;
}

.instructions-text {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: greenyellow;
}

#door-row {
  text-align: center;
}

.playButton-row {
  margin: auto;
  width: 120px;
  height: 38px;
  line-height: 38px;
  font-family: "Courier New", Courier, monospace;
  background-color: greenyellow;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
